@import "src/variables.scss";

.container {

  position: relative;

  padding: 20px;

  .table {

    background-color: $color-background;

    .row {
      display: flex;
      height: 50px;



      .cell {
        flex: auto;
        flex-basis: 10%;
        text-align: center;
        padding: 10px;
      }



      &.row:hover {
        background: $color-highlight;
      }
    }

    .row:nth-child(even) {
      background: $color-text-light;
    }

    .row.selected {
      background-color: $color-highlight;
    }

    .header {
      background: $color-primary;
      .cell {
        font-weight: bold;
        color: $color-text-light;
      }
    }

    .content {
      height: 500px;
      overflow-y: scroll;
    }


  }
}

.attributes {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
