<div class="container view-container">
  <div class="table">
    <div class="row header">
      <div class="cell" *ngFor="let attribute of attributes" (click)="sort(attribute)">{{ attribute }}</div>
    </div>
    <div class="content">
      <div class="row" *ngFor="let car of data" (click)="selectCar(car)" [ngClass]="car === selectedCar ? 'selected':'' ">
        <div class="cell" *ngFor="let attribute of attributes">
          {{ getAttributeOfCar(car, attribute) }}
        </div>
      </div>
    </div>
  </div>
  <div class="controls-container">
    <app-attribute-selector (selectionEvent)="addAttribute($event)"></app-attribute-selector>
    <div class="attributes">
      <app-pill *ngFor="let attr of attributes" [name]="attr" (deleteEvent)="removeAttribute(attr)"></app-pill>
    </div>
  </div>
</div>
