<div class="container">

  <div class="left">
    <!-- <div class="attribute-explorer">
      <app-histogram [attribute]="'make'"></app-histogram>
      <app-histogram [attribute]="'horsepower'"></app-histogram>
      <app-histogram [attribute]="'cityMpg'"></app-histogram>
      <app-histogram [attribute]="'highwayMpg'"></app-histogram>
    </div> -->
    <app-attribute-explorer [attributes]="['horsepower', 'highwayMpg', 'price', 'make']"></app-attribute-explorer>
  </div>

  <div class="center">
    <app-parallel-coordinates [attributes]="['horsepower', 'highwayMpg', 'cityMpg', 'price', 'peakRpm', 'driveWheels', 'make', 'fuelType']"></app-parallel-coordinates>
    <app-scatter-plot [xAttribute]="'horsepower'" [yAttribute]="'cityMpg'" [categoricalAttribute]="'make'"></app-scatter-plot>
    <!-- <app-scatter-plot [xAttribute]="'horsepower'" [yAttribute]="'cityMpg'" ></app-scatter-plot> -->
    <app-table [attributes]="['make', 'horsepower', 'highwayMpg', 'cityMpg', 'price']"></app-table>
  </div>

  <div class="right">
    <app-car [car]="selectedCar" [attributes]="['horsepower', 'highwayMpg', 'cityMpg', 'price', 'peakRpm', 'driveWheels', 'make', 'fuelType']"></app-car>
  </div>
















</div>
