.container {

  position: relative;
  height: 100%;

  .left {
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    width: 300px;
  }

  .center {
    margin: 0 300px;
  }

  .right {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;

    margin-top: 68px;

  }


  .attribute-explorer {
    //width: 300px;
  }
}
