.view-container {
  margin: 0;

  .slider {
    margin-bottom: 20px;
  }

  .slider:last-child {
    margin-bottom: 0;
  }

  .attributes {
    position: relative;
    display: flex;
    flex-wrap: wrap;
  }

}
